@charset "utf-8";
a {
  text-decoration: none;
  display: block;
  color: inherit;
}
ul,
h2,
h3 {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
body {
  font-family: "Noto Sans KR", 돋움, sans-serif;
  position: relative;
  z-index: -9999;
  line-height: 1.5;
}
header h1 {
  background-color: #edf6e5;
  width: 75%;
  height: 10vh;
  margin: 0;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}
header h1 img {
  width: 70px;
  margin-left: 5vw;
}
aside h2 {
  background-color: #f38ba0;
  height: 10vh;
  margin: 0 0 0 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "NanumSquare_ac", sans-serif;
  font-size: 1.5rem;
  position: fixed;
  width: 25%;
  z-index: 10;
  top: 0;
  right: 0;
}
aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: end;
  transition: 0.5s;
  z-index: 100;
}
aside ul li {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "fugazOne", sans-serif;
  font-weight: 400;
  position: fixed;
  right: -100vw;
  transition: 0.5s;
  color: #fff;
  z-index: 1000;
}
aside .slide_wrapper.active {
  right: 0;
}
aside .slide_wrapper.active li {
  right: 0;
}
aside ul li:nth-child(1) {
  background-color: #ffbcbc;
  height: 30vh;
  transition: 0.6s;
  top: 10vh;
}
aside ul img {
  width: 140px;
}
aside ul li:nth-child(2) {
  background-color: #f38ba0;
  height: 30vh;
  top: 40vh;
  transition: 0.6s 0.1s;
}
aside ul li:nth-child(3) {
  background-color: #939fcd;
  height: 30vh;
  top: 70vh;
  transition: 0.6s 0.3s;
}

main .introduce {
  margin-top: 10vh;
  background-color: #939fcd;
  color: #fff;
  padding: 5vw 3vw;
}
main h2 {
  font-family: "fugazOne", sans-serif;
}

.gform {
  width: 70vw;
  margin: 20px auto;
}
.gform label,
input,
button {
  display: inline-block;
}
.gform label {
  font-weight: 600;
}
.gform input,
textarea {
  outline: none;
  width: 100%;
  margin: 10px;
  padding: 5px;
}
.gform input {
  border: none;
  background-color: transparent;
  border-bottom: #fff solid 2px;
}
.gform textarea {
  height: 30vh;
  border: none;
  background-color: rgba(255, 255, 255, 0.568);
}
.gform a {
  display: inline-block;
  border: 1px solid #000;
  padding: 2px 10px;
}

.gform button {
  padding: 5px 15px;
  margin: 10px 0 0 auto;
  background-color: #edf6e5;
  border: none;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gform button span {
  font-weight: 600;
}
.gform button img {
  width: 20px;
  transform: rotate(180deg);
}

.msg_modal {
  border: solid 3px #2a285e;
  color: #000;
  background-color: #fff;
  width: 90%;
  height: 400px;
  position: fixed;
  border-radius: 20px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  display: none;
}
.msg_modal .close_btn {
  background-color: #2a285e;
  color: #fff;
  text-decoration: none;
  padding: 7px 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: 0.5s;
  box-sizing: border-box;
  border-radius: 40px;
}

main .skill {
  position: relative;
  padding: 5vw 3vw;
}
main .skill img {
  width: 100px;
  position: absolute;
  right: 0;
  top: 20px;
  position: -99;
}
main .skill h3 {
  border-bottom: dashed 2px #000;
}
main .skill .skillDetail {
  width: 100%;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  header h1 {
    width: 85%;
    height: 15vh;
  }
  header h1 a:hover img {
    transform: scale(1.1);
  }
  header h1 img {
    width: 110px;
    margin-left: 2vw;
    transition: 0.5s;
  }

  aside h2 {
    height: 15vh;
    font-size: 2.8rem;
    width: 15%;
  }
  aside .slide_wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 15vh;
    right: -100%;
    transition: 1.5s;
    background-color: rgba(0, 0, 0, 0.6);
  }
  aside ul li:nth-child(1) {
    height: 28.33vh;
    transition: 0.6s;
    top: 15vh;
  }
  aside ul img {
    width: 140px;
  }
  aside ul li:nth-child(2) {
    height: 28.33vh;
    top: 43.33vh;
    transition: 0.6s 0.1s;
  }
  aside ul li:nth-child(3) {
    height: 28.33vh;
    top: 71.66vh;
    transition: 0.6s 0.3s;
  }
  aside h2:hover {
    cursor: pointer;
  }
  aside ul a {
    transition: 0.5s;
  }
  aside ul a:hover {
    color: #2a285e;
  }
  aside ul li {
    width: 60vw;
    font-size: 7rem;
    right: -60vw;
  }
  aside ul li:nth-child(1) img:hover {
    animation: spin infinite 1.4s;
  }
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(350deg);
    }
  }
  main {
    display: flex;
  }
  main h2 {
    font-size: 30px;
  }
  main .introduce {
    margin-top: 15vh;
    position: fixed;
    z-index: -9;
    height: 100%;
    width: 40vw;
    word-break: keep-all;
    box-sizing: border-box;
    padding: 2vw 3vw;
  }

  .gform {
    width: 100%;
    font-family: "NanumSquare_ac";
  }
  .gform .inputLine {
    display: flex;
    border-bottom: #fff solid 2px;
    margin: 20px 0;
  }
  .gform .noUnderline {
    border: none;
    background-color: rgba(255, 255, 255, 0.568);
  }
  .gform .inputLine label {
    white-space: nowrap;
    margin: 10px;
  }
  .gform input,
  textarea {
    outline: none;
    padding: 5px;
  }
  .gform input {
    border: none;
  }
  .gform textarea {
    height: 150px;
    background-color: transparent;
    margin-top: 10px;
  }
  .gform button {
    cursor: pointer;
    box-shadow: 2px 2px;
    position: relative;
    transition: 0.4s;
  }
  .gform button img {
    width: 20px;
    transition: 0.4s;
    transform: rotate(0);
    margin-left: 2px;
  }
  .gform button:hover img {
    transform: rotate(180deg);
  }
  .gform button:hover {
    background-color: rgb(180, 180, 180);
  }
  .gform button:active {
    box-shadow: none;
    left: 2px;
    top: 2px;
  }

  .msg_modal {
    width: 30vw;
    left: 19vw;
    top: 30%;
  }
  .msg_modal .close_btn:hover {
    background-color: #fff;
    color: #2a285e;
  }

  main .skill {
    position: absolute;
    background-color: #fff7f7;
    width: 60vw;
    right: 0;
    top: 15vh;
    z-index: -9;
    box-sizing: border-box;
    padding: 2vw 3vw;
  }
  main .skill img {
    left: 10vw;
    top: 20px;
    width: 80px;
  }
  main .skillDetail {
    margin: 40px 0;
  }
  main .skillDetail h3 {
    font-size: 20px;
    margin: 25px 0 5px;
    padding-left: 10px;
  }
  main .skillDetail .expln {
    padding-left: 10px;
  }
}
