@charset "utf-8";
a{text-decoration: none; display: block; color: inherit;}
ul,h2,h3{list-style: none; padding:0; margin:0;}
p{margin:0;}
body{font-family: 'Noto Sans KR',돋움,sans-serif; position: relative; z-index: -9999;  line-height: 1.5;}
header h1{background-color: #EDF6E5; width: 75%; height:10vh;margin:0; display: flex; align-items: center; position: fixed; top:0;z-index: 10;}
header h1 img{width: 70px; margin-left: 5vw;}
aside h2{background-color: #F38BA0; height: 10vh; margin: 0 0 0 85%; display: flex; align-items: center; justify-content: center; color: #fff; font-family: 'NanumSquare_ac',sans-serif; font-size: 1.5rem;position: fixed; width: 25%; z-index: 10; top:0;right: 0;}
aside ul{
    list-style: none; margin:0;padding: 0; display: flex; flex-flow: column wrap; align-items: end; transition: .5s; z-index: 100;
}
aside ul li{ width:100vw;display: flex; justify-content: center; align-items: center; font-size: 3rem; font-family: 'fugazOne',sans-serif; font-weight: 400; position: fixed; right:-100vw;transition: .5s; color: #fff; z-index: 1000;}
aside .slide_wrapper.active{right:0;}
aside .slide_wrapper.active li{right:0;}
aside ul li:nth-child(1){background-color: #FFBCBC; height: 30vh;transition: .6s; top:10vh;}
aside ul img{width: 140px;}
aside ul li:nth-child(2){background-color: #F38BA0; height: 30vh;top:40vh;transition: .6s .1s;}
aside ul li:nth-child(3){background-color: #939FCD; height: 30vh; top:70vh;transition: .6s .3s;}

main .introduce{margin-top:10vh;background-color: #939FCD; color:#fff; padding:5vw 3vw;}

main .skill{position: relative; padding:5vw 3vw;}
main .skill h2{position: sticky;}
main .skill img{width: 100px; position: absolute; right: 1vw;position:-99 ;}
@media screen and (min-width:768px) {
    header h1{width: 85%; height: 15vh;}
    header h1 a:hover img{transform: scale(1.1);}
    header h1 img{width: 110px; margin-left: 2vw;transition: .5s;}
    
    aside h2{ height: 15vh;font-size: 2.8rem; width: 15%;}
    aside .slide_wrapper{width: 100%; height: 100vh;position: fixed; top:15vh; right: -100%; transition: 1.5s;background-color: rgba(0,0,0,0.6);}
    aside ul li:nth-child(1){height: 28.33vh;transition: .6s; top:15vh;}
    aside ul img{width: 140px;}
    aside ul li:nth-child(2){height: 28.33vh;top:43.33vh;transition: .6s .1s;}
    aside ul li:nth-child(3){height: 28.33vh; top:71.66vh;transition: .6s .3s;}
    aside h2:hover{cursor: pointer;}
    aside ul a {transition: .5s;}
    aside ul a:hover {color:#2A285E;}
    aside ul li{ width:60vw; font-size: 7rem;  right:-60vw;}
    main {display: flex;}
    main .introduce{margin-top:15vh; position:fixed; z-index: -9; height: 100%; width: 30vw; word-break: keep-all;}
    main .skill{position: absolute;background-color: aliceblue;width: 58vw; right: 0;top:15vh;z-index: -9;height: 65vh;}
}