@charset "utf-8";


a{color: #fff; text-decoration: none;}
header h1{background-color: #FFFF1D; width: 85%; height:15vh;margin:0; display: flex; align-items: center; position: absolute; top:0;}
header h1 img{width: 110px; margin-left: 2vw;}
aside h2{background-color: #FFC815; height: 15vh; margin: 0 0 0 85%; display: flex; align-items: center; justify-content: center; color: #fff; font-family: 'NanumSquare_ac',sans-serif; font-size: 2.8rem;}
aside h2:hover{cursor: pointer;}
aside ul li{width: 50vw; display: flex; justify-content: center; align-items: center; font-size: 7rem; font-family: 'fugazOne',sans-serif; font-weight: 400; display: none;}
aside ul li:nth-child(1){background-color: #5CA2FF; height: 28.33vh;}
aside ul img{width: 140px;}
aside ul li:nth-child(2){background-color: #FFC815; height: 28.33vh;}
aside ul li:nth-child(3){background-color: #00DC12; height: 28.33vh;}
aside ul{
    list-style: none; margin:0;padding: 0; display: flex; flex-flow: column wrap; align-items: end;
}
main{display: flex;}
main section{width: 50vw;}
main section h2{margin:0; font-family: 'fugazOne',sans-serif; font-weight: 400; text-transform: capitalize; font-size: 2.5rem;}
main section h2 span{text-transform: uppercase;}
main .pic{background: url(../images/hiddenPic.jpg) no-repeat 100% 80% / cover; text-indent: -9999px; height: 100vh; position: sticky; top:0}
main .info{padding: 70px;box-sizing:border-box;background-color: #FFFAF5; margin-left: auto;}
main .info h2:nth-child(1){color: #5CA2FF;}
main .info ul{list-style: none; padding:30px 0;}
main .info ul li{padding-bottom:10px; font-family: 'NanumSquare_ac',sans-serif;}
main .info h2:last-child{color: #FFC815;}


@media screen and (max-width:768px) {
    header h1{width: 60%;}

    aside h2{margin-left: 60%;}
    main{display: flex; flex-flow: column;}
    main section{width: 100%;}
    main .pic{position: static;}
}