@charset "utf-8";

body{background-color: #939FCD ;height: 115vh;}
a{color: #fff; text-decoration: none; display: block;}
header h1{background-color: #EDF6E5; width: 85%; height:15vh;margin:0; display: flex; align-items: center; position: fixed; top:0;z-index: 10;}
header h1 img{transition: .5s;}
header h1 a:hover img{transform: scale(1.2);}
header h1 img{width: 110px; margin-left: 2vw;}
aside h2{background-color: #F38BA0; height: 15vh; margin: 0 0 0 85%; display: flex; align-items: center; justify-content: center; color: #fff; font-family: 'NanumSquare_ac',sans-serif; font-size: 2.8rem;position: fixed; width: 15%; z-index: 10;}
aside h2:hover{cursor: pointer;}
aside .slide_wrapper{background-color: rgba(0,0,0,0.6); width: 100%; height: 100vh;position: fixed; top:15vh; right: -100%; transition: 1.5s;}
aside ul{
    list-style: none; margin:0;padding: 0; display: flex; flex-flow: column wrap; align-items: end; transition: .5s; z-index: 10;
}
aside ul li{ width:60vw;display: flex; justify-content: center; align-items: center; font-size: 7rem; font-family: 'fugazOne',sans-serif; font-weight: 400; position: fixed; right:-60vw;transition: .5s;}
aside ul li a{transition: .5s;}
aside ul a:hover{color:#2A285E;}
aside .slide_wrapper.active{right:0;}
aside .slide_wrapper.active li{right:0;}
aside ul li:nth-child(1){background-color: #FFBCBC; height: 28.33vh;transition: .6s; top:15vh;}
aside ul img{width: 140px;}
aside ul li:nth-child(2){background-color: #F38BA0; height: 28.33vh;top:43.33vh;transition: .6s .1s;}
aside ul li:nth-child(3){background-color: #939FCD; height: 28.33vh; top:71.66vh;transition: .6s .3s;}
main h2{margin:0; color: #fff; font-family: 'fugazOne',sans-serif; font-size: 1.83rem; padding:4vw; text-decoration: underline; text-transform: capitalize;}
main .contents{padding:0; margin:0 auto;list-style:none; display: flex; flex-wrap: wrap; justify-content: space-between;width: 87vw;}
main .contents li{height: 16vw; background-color: honeydew; margin-bottom: 3vw;}
main .contents li a{color: lavenderblush; font-size: 3rem; text-align: center;display: block;}
main .contents li:nth-child(1) a{width: 57vw;background: url(../../works/work1/images/mainImg.png) no-repeat 100% / cover;  height: 100%; line-height: 16vw; font-family: 'DMSerif_Regular';}
main .contents li:nth-child(2) a{width: 27vw; background: url(../../works/work2/images/lightImg1.jpg) no-repeat 100% / cover; height: 100%; line-height: 16vw; font-family: 'pretendard',돋움,sans-serif;}
main .contents li:nth-child(3) {background-color: #000;width: 27vw}
main .contents li:nth-child(3) a{background: #000 url(../../works/work3/images/ELLEwhite.svg) no-repeat 50% / contain; color: transparent; line-height: 16vw;}
main .contents li:nth-child(4){width: 27vw;}
main .contents li:nth-child(5){width: 27vw;}

main .contents li a:hover{opacity: 0.7; transition: 0.4s;}

footer{text-align: center;}

@media screen and (max-width:768px) {
    header h1{width: 60%;}
    aside h2{margin:0 0 0 60%}

    main{height: 190vh;}

    main .contents{flex-direction: column; align-items: center;}
    main .contents li{ height: 30vh;} 
    main .contents li:nth-child(1) a{width: 80vw; line-height: 30vh;}
    main .contents li:nth-child(2) a{width: 80vw; line-height: 30vh;}
    main .contents li:nth-child(3) {width: 80vw;}
    main .contents li:nth-child(3) a{line-height: 30vh;}

    main .contents li:nth-child(4) {width: 80vw; line-height: 30vh;}
    main .contents li:nth-child(5) {width: 80vw; line-height: 30vh;}
    
}