
.icon-plus:before { content: '\e800'; } /* '' */
.icon-th-large:before { content: '\e801'; } /* '' */
.icon-newspaper:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
